<div class="w-6">
  <picture>
    <source
      srcset="/icons/twitter-white.svg"
      media="(prefers-color-scheme: dark)"
    />
    <img decoding="async" alt="github logo" src="/icons/twitter.svg" />
  </picture>
</div>
