---
import { getCollection } from 'astro:content';
import BaseLayout from "@layouts/BaseLayout.astro";
import PostSummary from '@components/PostSummary.astro';


const posts = (await getCollection('post')).sort(
	(a, b) =>  b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
).slice(0, 5);
---

<BaseLayout title="Inicio" description="" toc={false}>
  <h1 class="text-2xl py-4">Ultimas entradas</h1>
  <ul>
    {
        posts.map((post) => (
            <li>
                <PostSummary post={post} />
            </li>
        ))
    }
</ul>
</BaseLayout>
