---
import { getCollection } from 'astro:content';
import BaseLayout from "@layouts/BaseLayout.astro";
import FormattedDate from '@components/FormattedDate.astro';


const posts = (await getCollection('post')).sort(
	(a, b) =>  b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

---

<BaseLayout title="Inicio" description="" toc={false}>
  <h1 class="text-2xl">Ultimas entradas</h1>
  <!-- <a class="home-article" href="https://usarral.com/como-las-fake-news-y-textos-generados-pueden-afectar-inteligencias-artificiales/">
    <picture>
    <img decoding="async" alt="Imagen de la etiqueta IA" src="/images/tags/IA.svg" width="64" height="64">
    <img class="secondary" decoding="async" alt="Imagen de la etiqueta me" src="/images/tags/me.svg" width="64" height="64">
    </picture>
    <div>
    <h2>¿Cómo las Fake News y los Textos Generados por IA Pueden Afectar a las Inteligencias Artificiales?</h2>
    <div class="meta">
    <time datetime="2024-02-02T00:00:00Z">
    2 febrero 2024
    </time>
    </div>
    </div>
    </a> -->
  <ul>
    {
        posts.map((post) => (
            <li>
                <a href={`/post/${post.slug}/`} class="flex flex-row flex-nowrap p-2 hover:bg-darkBgHover rounded-xl">
                    <!--
                        <picture class="">
                        <img decoding="async" alt="Imagen de la etiqueta IA" src="/images/tags/IA.svg" width="64" height="64">
                        <img class="secondary" decoding="async" alt="Imagen de la etiqueta me" src="/images/tags/me.svg" width="64" height="64">    
                    </picture>
                    -->
                    <div>
                        <h2 class="text-xl text-pretty ">{post.data.title}</h2>
                        <div class="meta">
                            <FormattedDate date={post.data.pubDate} />
                        </div>
                    </div>

                </a>
            </li>
        ))
    }
</ul>
</BaseLayout>
