---
import Email from "@icons/email.astro";
import RSS from "@icons/rss.astro";
import Github from "@icons/github.astro";
import Youtube from "@icons/youtube.astro";
import Twitter from "@icons/twitter.astro";
---

<footer
  class="flex flex-nowrap justify-between px-16 md:px-96 items-center w-full gap-8"
>
  <a href="mailto:hola@usarral.com" class="flex flex-row items-center">
    <Email />
    <span class="hidden"> Contacto</span>
  </a>
  <a href="/sitemap.xml" class="flex flex-row items-center">
    <RSS />
    <span class="hidden"> RSS</span>
  </a>
  <a href="https://github.com/usarral" class="flex flex-row items-center">
    <Github />
    <span class="hidden"> Github</span>
  </a>
  <a
    href=" https://www.youtube.com/channel/UCHarnqEHtcQ616mopL_pjmg/?sub_confirmation=1"
    target="_blank"
    rel="noopener nofollow"
    aria-label="Suscríbete a mi canal"
    class="md:p-4"
  >
    <Youtube />
    <span class="hidden"> Youtube</span>
  </a>
  <a
    href="https://twitter.com/usarral_dev"
    aria-label="Sigueme en Twitter"
    class="md:p-4"
  >
    <Twitter />
    <span class="hidden"> Twitter</span>
  </a>
</footer>
