---
import FormattedDate from "./FormattedDate.astro";
interface Props {
  post?: any;
}
const { post } = Astro.props;
const primaryTag: string = post.data.tags[0];
const secondaryTag: string = post.data.tags[1];
---

<a
  href={`/post/${post.slug}/`}
  class="flex flex-row flex-nowrap p-2 hover:bg-darkBgHover rounded-xl"
>
  <picture class="">
    <img
      decoding="async"
      alt="Imagen de la etiqueta IA"
      src={"/tags/" + primaryTag + ".svg"}
      class="primary aspect-square w-16"
    />
    <img
      class="secondary hidden md:block aspect-square w-8"
      decoding="async"
      alt="Imagen de la etiqueta me"
      src={"/tags/" + secondaryTag + ".svg"}
    />
  </picture>
  <div>
    <h2 class="text-lg md:text-xl text-balance font-medium">
      {post.data.title}
    </h2>
    <div class="meta">
      <FormattedDate date={post.data.pubDate} />
    </div>
  </div>
</a>

<style>
  picture,
  img {
    width: 3rem;
    height: 3rem;
    margin-right: 1.5rem;
    object-fit: contain;
    margin-left: 0.25rem;
    transition: transform 0.3s ease;
    position: relative;
  }

  .secondary {
    width: 1.5rem;
    border: 0.0625rem solid #ccc;
    height: 1.5rem;
    padding: 0.125rem;
    background: #fff;
    object-fit: contain;
    border-radius: 100%;
    bottom: -0.4375rem;
    left: 2rem;
    position: absolute;
  }
</style>
