  <div class="searchbox">
    <form action="" role="search" class="" novalidate="">
      <input
        class="rounded-xl px-2 text-[#eee] w-full h-10 border-gray-700 bg-[#20252c] focus:outline-none focus:ring-2 focus:ring-[#3c4654] focus:ring-opacity-50"
        type="search"
        placeholder="Buscar..."
        autocomplete="off"
        autocorrect="off"
        autocapitalize="off"
        spellcheck="false"
        maxlength="512"
      />
    </form>
  </div>
