---
import Email from "@icons/email.astro";
import Twitter from "@icons/twitter.astro";
import Github from "@icons/github.astro";
import Youtube from "@icons/youtube.astro";
---

<div class="flex flex-row gap-4 md:gap-0 items-center">
    <a href="mailto:hola@usarral.com" aria-label="Contactame por email" class="md:p-4"><Email /></a>
    <a href="https://twitter.com/usarral_dev" aria-label="Sigueme en Twitter" class="md:p-4" > <Twitter /> </a>
    <a href=" https://www.youtube.com/channel/UCHarnqEHtcQ616mopL_pjmg/?sub_confirmation=1" target="_blank" rel="noopener nofollow" aria-label="Suscríbete a mi canal" class="md:p-4" > <Youtube /> </a>
    <a href="https://github.com/usarral" target="_blank" rel="noopener nofollow" aria-label="Sígueme en Github" class="md:p-4" > <Github /> </a>
</div>
